.bar {
  position: absolute;
  bottom: 0;
  right: -96px;
  z-index: 30;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  column-gap: 20px;
  width: 658px;
  height: 203px;
  padding: 49px 116px 28px 20px;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -20;
    width: 593px;
    height: 154px;
    background-image: url('./assets/images/shade.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 122px;
    right: 0;
    z-index: -10;
    width: 629px;
    height: 52px;
    background-image: url('./assets/images/line.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    pointer-events: none;
  }
}

.image {
  width: 80px;
  height: 80px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.caption {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: var(--secondary-color);
}

.value {
  font-weight: 700;
  font-size: 58px;
  line-height: 120%;
  color: var(--shade-scale-1-color-1);
}
