$spotWidth: 20.85vw / 4.3;
$spotHeight: 10.58vw / 4.3;

$fieldWidth: 104.27vw / 4.3;
$fieldHeight: 137.59vw / 4.3;

.field {
  position: absolute;
  top: 14.44vw;
  left: 38.99vw;
  z-index: 20;
  transform: skew(-63.4deg, 26.3deg);
  display: grid;
  grid-template-columns: repeat(5, $spotWidth);
  grid-template-rows: repeat(13, $spotHeight);
  width: $fieldWidth;
  height: $fieldHeight;
}

.tile {
  width: $spotWidth;
  height: $spotHeight;
  user-select: none;

  &Active {
    opacity: 1;
    cursor: pointer;

    &:hover {
      border-top-width: 4px;
      border-bottom-width: 4px;
      border-left-width: 8px;
      border-right-width: 8px;
      border-style: solid;
      border-color: green;
    }
  }

  &Disabled {
    opacity: 0.33;
  }

  &Bomb {
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 8px;
    border-right-width: 8px;
    border-style: solid;
    border-color: red;
  }
}
