$spotWidth: 20.85vw / 4.3;
$spotHeight: 10.58vw / 4.3;

$fieldWidth: 104.27vw / 4.3;
$fieldHeight: 137.59vw / 4.3;

.field {
  position: absolute;
  top: 14.44vw;
  left: 38.99vw;
  z-index: 20;
  transform: skew(-63.4deg, 26.3deg);
  display: grid;
  grid-template-columns: repeat(5, $spotWidth);
  grid-template-rows: repeat(13, $spotHeight);
  width: $fieldWidth;
  height: $fieldHeight;
}

.tile {
  width: $spotWidth;
  height: $spotHeight;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;

  &Active {
    opacity: 1;
    cursor: pointer;

    &:hover {
      box-shadow: inset 0 0 8px 4px #2ecef6;
    }
  }

  &Disabled {
    opacity: 0.33;
  }
}
