.play {
  position: absolute;
  right: 0;
  bottom: 178px;
  z-index: 30;
  width: 306px;
  height: 486px;
  background-image: url('./assets/images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
